
{% extends 'flashTrolleyAdmin/base.html' %}
{% load staticfiles %}

{% block pagetitle %} Add Products {% endblock %}
{% block subtitle %} <i class="fa fa-fw fa-table"></i> Add products {% endblock %}

{% block products %}
                <div class="row">
                    <div class="col-lg-6">
                        <h1>Add Products</h1>

                        <form method="POST" action="">
                        {% csrf_token %}
                        {% for field in product_form %}
                            {% if field.errors %}
                                <ol class="errorlist">
                                    {% for error in field.errors %}
                                        <li><strong>*{{ error|escape }}</strong></li>
                                    {% endfor %}
                                </ol>
                            {% endif %}
                            <table border="0">
                                <tr><th>{{ field.label_tag }}</th></tr>
                                <tr><td> {{ field }}</td></tr>
                            </table>
                            <br/>
                            {% endfor %}
                               <button type='submit'> Save </button><button type='submit'> Save and add another </button>
                    </form>
                    <div></div>
                    <div></div>
                    </div>

                </div>
                <!-- /.row -->
{% endblock %}