
{% extends 'flashTrolley/base.html' %}
{% load staticfiles %}
{% block title %} Home | Flash-Trolley {% endblock %}


{% block slider %}
<div class="slider">
	  <div class="callbacks_container">
	      <ul class="rslides" id="slider">
	        <li><img src="{% static "images/banner1.jpg" %}" class="img-responsive" alt=""/>
	        <div class="banner_desc">
				<h1>The best marketing website of all times</h1>
				<h2>flash-trolley; noble, rare, reliable.</h2>
			</div>
	        </li>
	        <li><img src="{% static "images/banner2.jpg" %}" class="img-responsive" alt=""/>
	         <div class="banner_desc">
				<h1>The best marketing website of all times</h1>
				<h2>Flash-Trolley; noble, rare, reliable.</h2>
			 </div>
	        </li>
	        <li><img src="{% static "images/banner3.jpg" %}" class="img-responsive" alt=""/>
	          <div class="banner_desc">
				<h1>The best marketing website of all times</h1>
				<h2>Flash-Trolley; noble, rare, reliable.</h2>
			  </div>
	        </li>
	      </ul>
	  </div>
</div>
{% endblock %}


{% block menu %}

<div class="main">
  <div class="content_top">
  	<div class="container">
	   <div class="col-md-3 sidebar_box">
	   	 <div class="sidebar">
			<div class="menu_box">
		    <h3 class="menu_head">Products Menu</h3>
			  <ul class="menu">
                 {% for product in products %}
				<li class="item1"><a href="#"><img class="arrow-img" src="{% static "images/f_menu.png" %}" alt=""/>{{ product.category }}</a>
					<ul class="cute">
						<li class="subitem1"><a href="#">{{ product.sub_category }}</a></li>

					</ul>
				</li>
                  {% endfor %}
			</ul>
		</div>
				<!--initiate accordion-->
		<script type="text/javascript">
			$(function() {
			    var menu_ul = $('.menu > li > ul'),
			           menu_a  = $('.menu > li > a');
			    menu_ul.hide();
			    menu_a.click(function(e) {
			        e.preventDefault();
			        if(!$(this).hasClass('active')) {
			            menu_a.removeClass('active');
			            menu_ul.filter(':visible').slideUp('normal');
			            $(this).addClass('active').next().stop(true,true).slideDown('normal');
			        } else {
			            $(this).removeClass('active');
			            $(this).next().stop(true,true).slideUp('normal');
			        }
			    });
			
			});
		</script>
       {% endblock %}
       {% block main %}
       </div>
		    <div class="delivery">
				<img src="{% static "images/delivery.jpg" %}" class="img-responsive" alt=""/>
				<h3>Delivering</h3>
				<h4>World Wide</h4>
			</div>
			<div class="twitter">
			   <h3>Latest From Twitter</h3>
			   <ul class="twt1">
			   	  <i class="twt"> </i>
			   	  <li class="twt1_desc"><span class="m_1">@Contrary</span> Totally worth trying<span class="m_1"> Satisfactory</span></li>
			   	  <div class="clearfix"> </div>
			   </ul>
			   <ul class="twt1">
			   	  <i class="twt"> </i>
			   	  <li class="twt1_desc"><span class="m_1">There are many</span> variations of passages of Lorem Ipsum available, but the majority <span class="m_1">have suffered</span></li>
			   	  <div class="clearfix"> </div>
			   </ul>
			   <ul class="twt1">
			   	  <i class="twt"> </i>
			   	  <li class="twt1_desc"><span class="m_1">Lorem Ipsum</span> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has <span class="m_1">been the industry's standard dummy text ever</span></li>
			   	  <div class="clearfix"> </div>
			   </ul>
			</div>
			<div class="clients">
				<h3>Our Happy Clients</h3>
				<h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</h4>
			   <ul class="user">
			   	<i class="user_icon"></i>
			   	<li class="user_desc"><a href="#"><p>John Doe, Company Info</p></a></li>
			   	<div class="clearfix"> </div>
			   </ul>
			</div>
	   </div> 

	    <h4 class="head"><span class="m_2">  Popular</span> Products Now</h4>
	    {% for product in products %}
	    <div class="col-md-4 top_grid1-box1"><a href="/single/">
	     	<div class="grid_1">
	     	  <div class="b-link-stroke b-animate-go  thickbox">
		        <img src="{{ product.product_image.url  }}" class="img-responsive" alt=""/> </div>
	     	  <div class="grid_2">
	     	  	<p>{{ product.product_description }}<br></p>
	     	  	<ul class="grid_2-bottom">
	     	  		<li class="grid_2-left"><p>shs{{ product.product_price }}</p></li>
	     	  		<li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It">Get it</div></li>
	     	  		<div class="clearfix"> </div>
	     	  	</ul>
	     	  </div>
	     	</div>
	     </a></div>

        {% endfor %}

	    </div>
       </div>
	  </div>  	    
	</div>
</div>

{% endblock %}